*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto Condensed' , sans-serif;S
   }
   .header{
       width: 100%;
       height: 100vh;
       background-image: linear-gradient(rgba(136, 0, 122, 0.351),rgba(0, 136, 29, 0.416)),url(1.jpeg);
       background-position: center;
       background-size: cover;
       overflow-x: hidden;
       
   }

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;    
    position: relative;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 18px 8%;
    transition: background 0.4s;
    background-color: darkolivegreen;
    font-size: xx-large;
    text-shadow: 10px 10px 10px #000;
}
nav .logo{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color:white;
}
nav .logo img{
    width: auto;
    margin-right: 10px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
}
nav ul li a{
 text-decoration: none;
 color: white;
 font-weight: 500;

}
nav:hover{
    background: darkolivegreen;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transform: scale(1.03);
    transition: all 1s ease;
}
.header a{
    display: block;
    border-radius: 5px;
    padding: 5px 1.5rem;
}
.header a:hover{
    color: black;
}
nav:hover .logo{
    color: black;
}
nav:hover ul  li a{
    color: black;
}
.submenu{
    position: absolute;
    right: -4;
    display: none;
    background-color:darkolivegreen;
    width: 250px
}
.submenu2{
    position: absolute;
    right: 4;
    display: none;
    background-color:darkolivegreen;
    width: 140px
}
.menu li:hover > .submenu2{
    display: block;
    animation: slideup .5s ease;
}
.menu li:hover > .submenu{
    display: block;
    animation: slideup .5s ease;
}
.menu ul li{
    font-size: medium;
    align-items: center;
    margin-left: 1%;
    border-radius: 5px;
}
.menu1:hover{
    background-color: darkgreen;
    border-radius: 10px;
}
.menu2:hover{
    background-color: darkgreen;
}
.menu3:hover{
    background-color: darkgreen;
}
.sb1:hover{
    background-color: darkcyan;
}
.sb2:hover{
    background-color: darkorange;
}
.sb3:hover{
    background-color: yellow;
}
.sb4:hover{
    background-color:darkblue;
}
.sb5:hover{
    background-color: red;
}
.sb6:hover{
    background-color: deeppink;
}
.sb24:hover{
    background-color: white;
 }
 .sb23:hover{
     background-color: white;
 }
 .sb30:hover{
     background-color: white;
 }
 .sb77:hover{
     background-color: white;
 }
.row{
    display: flex;
    height: 100%;
    align-items: center;
}
.content{
    margin-top: 5%;
    margin-left: 5%;
    color:white;
    align-self: start;
    align-items: right;
    font-size: large;
    flex-basis: 100%;
}
.content h1{
    font-size: 30px;
    font-weight: 100px;
    line-height: 3;
    font-size: xx-large;
    
}
.content p{
    max-width: 800px;
    margin-bottom: 1%;
    line-height: 1;
    opacity: 0;
    font-size: larger;
}
.links{
    margin-top: 30px;
    opacity: 0;
}
.links a{
    color:beige;
    text-shadow: 2px 2px 5px #000;
    text-decoration: none;
    display: inline-block;
}
.links:hover a{
    color:lightgreen;
    text-shadow: 2px 2px 5px #000;
}
.btn{
    background: teal;
    color: whites;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    transition: .4s;       
}
.btn:hover{
    background: transparent;
    border: 2px solid turquoise;
    cursor: pointer;
    box-shadow: 20px 20px 15px #000 ;   
}  
.slide-left{
    animation: slideleft 1s linear forwards;
}
@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
p.slide-left{
    animation-delay: 1s;
}
.links.slide-left{
    animation-delay: 2s;
}
@keyframes slideup {
   0%{
    opacity: 0;
    transform: translateY(18px);
   } 

   100%{
    opacity: 1;
    transform: none;

   }

}


.col{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    display: flex;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 5%;
    margin-bottom: 25%;
    background-position: center;
    background-size: cover;
}
.card:hover{
    transform: translateY(-10px);
    animation-duration: 0.5s;
    transform: scale(0.5s);
    transition: all 0.5s ease;
}
h5{
    color: wheat;
    text-shadow: 0 0 5px rgb(0, 84, 0) ;
}

h4{
    color: beige;
    text-shadow: 0 0 5px rgb(0, 84, 0) ;
}
h1{
    color:beige;
    text-shadow: 2px 2px 5px #000;
}
h3{
    color: white;
   
}
h2{

    font-size: medium;
    text-align: center;
}
li{
    font-size: large;
}
.card1{
    background-image: url(history.jpg);
    background-position: -173px;
    border: 1px solid black; 
}
.card2{
    background-image: url(123.jpg);
    border: 1px solid black; 
}
.card3{
    background-image: url(q.jpg);
    border: 1px solid black; ss
}


.card h3{
   width: 5px;
   font-size: x-large;
   white-space: nowrap;
   text-align:center;
   
   text-shadow: 10px 10px 5px #000;
}



.card1 a{
    width: 150px;
    background-color: teal;
    color: beige;
    text-shadow: 0 0 5px rgb(0, 84, 0) ;
    font-weight: bold;
    padding: 15px 20px;
    display: block;
    text-align: center;
    border: 2px solid transparent;
    margin: auto;
    margin-left: 20px;
    margin-top: 250px;
    text-decoration: none;
    transition: .4s;   
}
.card1:hover a{
    background: transparent;
    border: 2px solid turquoise;
    cursor: pointer;
    box-shadow: 20px 20px 15px #000 ;
    color: lightgreen;
    text-shadow: 0 0 5px rgb(0, 84, 0) ;
}
.card1 {
    width: 250px;
    height: 370px;
    margin: 10px;
    box-shadow:10px 10px 5px #000 ;
}
.card2 { 
    width: 250px;
    height: 370px;
    margin: 10px;
    box-shadow:10px 10px 5px #000 ; 
}

.card2 a{
    width: 150px;
    background-color: teal;
    color: beige;
    text-shadow: 0 0 5px rgb(0, 84, 0) ;
    font-weight: bold;
    padding: 15px 20px;
    display: block;
    text-align: center;
    border: 2px solid transparent;
    margin: auto;
    margin-left: 20px;
    margin-top: 250px;
    text-decoration: none;
    transition: .4s;   
}
.card2:hover a{
    background: transparent;
    border: 2px solid turquoise;
    cursor: pointer;
    box-shadow: 20px 20px 15px #000 ;
    color: lightgreen;
    text-shadow: 0 0 5px rgb(0, 84, 0) ;
}
.card3 {
    width: 250px;
    height: 370px;
    margin: 10px;
    box-shadow:10px 10px 5px #000 ;
    
}
.about{
   width: 100%;
   padding: 78px 0px; 
}
.about img{
    height: 470px;
    width: 380px;
}
.about-text{
  width:550px;
  margin-right: 80px;
  
}
.main{
    width:1130px;
    max-width: 95%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-shadow: 10px 10px 5px #000;
  
}
.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-shadow: 10px 10px 5px #000;
    
}
.span1{
    color: turquoise;
    text-shadow: 10px 10px 5px #000;

}
.about-text p{
    color:whitesmoke ;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 45px;  
    
}
button{
    background: turquoise;
    color: whites;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
   
    
}
button:hover{
    background: transparent;
    border: 2px solid turquoise;
    cursor: pointer;
    box-shadow: 20px 20px 15px #000 ;
}
.bt1 a{
    color:white;
    text-shadow: 2px 2px 5px #000;
    text-decoration: none;
    display: inline-block;
}
.bt1:hover a{
    color:white;
    text-shadow: 2px 2px 5px #000;
}
.pic1{
    border-radius: 5px;
    box-shadow: 20px 20px 15px #000 ;
    animation: slideleft 1.5s linear forwards;
}
.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    left: 0;
    top:0 ;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
  }
  .cursor2{
      position: fixed;
      width: 8px;
      height: 8px;
      border: 1px solid wheat;
      border-radius: 50%;
      left: 0;
      top:0 ;
      pointer-events: none;
      transform: translate(-50%, -50%);
      transition: .15s;
    }